/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'HurmeGeometricSans4-Regular';
  src: url("font/HurmeGeometricSans4-Regular.eot");
  /* IE9 Compat Modes */
  src: url("font/HurmeGeometricSans4-Regular.eot?#iefix") format("embedded-opentype"), url("font/HurmeGeometricSans4-Regular.woff") format("woff"), url("font/HurmeGeometricSans4-Regular.ttf") format("truetype"), url("font/HurmeGeometricSans4-Regular.svg#HurmeGeometricSans4-Regular") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'HurmeGeometricSans4-Thin';
  src: url("font/HurmeGeometricSans4-Thin.eot");
  /* IE9 Compat Modes */
  src: url("font/HurmeGeometricSans4-Thin.eot?#iefix") format("embedded-opentype"), url("font/HurmeGeometricSans4-Thin.woff") format("woff"), url("font/HurmeGeometricSans4-Thin.ttf") format("truetype"), url("font/HurmeGeometricSans4-Thin.svg#HurmeGeometricSans4-Thin") format("svg");
  /* Legacy iOS */ }
@font-face {
  font-family: 'HurmeGeometricSans4-Bold';
  src: url("font/HurmeGeometricSans4-Bold.eot");
  /* IE9 Compat Modes */
  src: url("font/HurmeGeometricSans4-Bold.eot?#iefix") format("embedded-opentype"), url("font/HurmeGeometricSans4-Bold.woff") format("woff"), url("font/HurmeGeometricSans4-Bold.ttf") format("truetype"), url("font/HurmeGeometricSans4-Bold.svg#HurmeGeometricSans4-Bold") format("svg");
  /* Legacy iOS */ }
.container {
  width: 810px;
  margin: 0 auto;
  background: #f9f9f9;
  text-align: center; }
  .container .main {
    background: url(../images/background.jpg) no-repeat;
    width: 801px;
    height: 800px;
    margin: 0 auto;
    position: relative; }
    .container .main .box-1 {
      background: url(../images/bg-2.png) no-repeat;
      display: block;
      position: absolute;
      bottom: 120px;
      width: 100%;
      height: 540px; }
      .container .main .box-1 #paso-1, .container .main .box-1 #paso-2, .container .main .box-1 #paso-3, .container .main .box-1 #paso-4, .container .main .box-1 #paso-5 {
        display: none; }
      .container .main .box-1 .active {
        display: block !important; }
      .container .main .box-1 .contenido {
        width: 520px;
        height: 460px;
        margin: 0 auto;
        padding: 60px 0 0 0;
        position: relative;
        font-family: "HurmeGeometricSans4-Thin";
        color: #fff; }
        .container .main .box-1 .contenido span {
          display: block; }
          .container .main .box-1 .contenido span.title {
            padding: 40px 0; }
          .container .main .box-1 .contenido span.logo-snoopy {
            padding: 20px 0; }
          .container .main .box-1 .contenido span.bases {
            position: absolute;
            right: 15px; }
            .container .main .box-1 .contenido span.bases a {
              color: #fff;
              font-size: .85em; }
          .container .main .box-1 .contenido span.iniciar {
            position: absolute;
            width: 100%;
            bottom: -140px; }
            .container .main .box-1 .contenido span.iniciar img {
              cursor: pointer; }
        .container .main .box-1 .contenido h3 {
          color: #fff;
          padding: .5em 1em;
          font-size: 1.2em; }
      .container .main .box-1 .instrucciones {
        text-align: left;
        font-size: 1.1em; }
        .container .main .box-1 .instrucciones .top {
          padding: 1em 0; }
          .container .main .box-1 .instrucciones .top span {
            text-align: center; }
            .container .main .box-1 .instrucciones .top span img {
              display: block;
              margin: 0 auto; }
        .container .main .box-1 .instrucciones h3 {
          text-align: center;
          padding: .2em 0; }
        .container .main .box-1 .instrucciones p {
          padding: 1em 3em; }
        .container .main .box-1 .instrucciones ul, .container .main .box-1 .instrucciones ol {
          margin: 0 6em; }
          .container .main .box-1 .instrucciones ul li, .container .main .box-1 .instrucciones ol li {
            list-style-type: decimal;
            padding: .3em 0; }
        .container .main .box-1 .instrucciones span.iniciar {
          text-align: center;
          font-size: 0.85em; }
      .container .main .box-1 .register .top {
        padding: 30px 0 0 0; }
        .container .main .box-1 .register .top span img {
          display: block;
          margin: 0 auto; }
        .container .main .box-1 .register .top h3 {
          padding: .2em 0; }
      .container .main .box-1 .register form.cmxform, .container .main .box-1 .register form#pensamiento {
        width: 100%;
        padding-top: 15px; }
        .container .main .box-1 .register form.cmxform input, .container .main .box-1 .register form#pensamiento input {
          width: 400px;
          height: 30px;
          padding: 0.5em;
          margin: .3em 0;
          border: 1px dashed #ffc72e;
          border-radius: 3px;
          background: #4e4e69;
          text-align: center;
          font-size: 1.1em;
          color: #fff;
          font-family: "HurmeGeometricSans4-Thin"; }
          .container .main .box-1 .register form.cmxform input::-webkit-input-placeholder, .container .main .box-1 .register form#pensamiento input::-webkit-input-placeholder {
            height: 42px;
            color: #fff; }
          .container .main .box-1 .register form.cmxform input:-moz-placeholder, .container .main .box-1 .register form#pensamiento input:-moz-placeholder {
            height: 42px;
            color: #fff; }
          .container .main .box-1 .register form.cmxform input:focus, .container .main .box-1 .register form#pensamiento input:focus {
            outline: none; }
          .container .main .box-1 .register form.cmxform input#agree, .container .main .box-1 .register form#pensamiento input#agree {
            width: initial;
            height: initial; }
        .container .main .box-1 .register form.cmxform ul, .container .main .box-1 .register form#pensamiento ul {
          padding: 10px 0; }
          .container .main .box-1 .register form.cmxform ul li, .container .main .box-1 .register form#pensamiento ul li {
            display: inline-block;
            vertical-align: middle; }
            .container .main .box-1 .register form.cmxform ul li a, .container .main .box-1 .register form#pensamiento ul li a {
              color: #fff;
              width: 300px;
              display: block; }
        .container .main .box-1 .register form.cmxform label.error, .container .main .box-1 .register form#pensamiento label.error {
          display: none !important; }
        .container .main .box-1 .register form.cmxform input.error, .container .main .box-1 .register form#pensamiento input.error {
          border: 1px dashed red; }
      .container .main .box-1 .fondos .top, .container .main .box-1 .fondos .bottom {
        padding: 15px 0; }
        .container .main .box-1 .fondos .top span img, .container .main .box-1 .fondos .bottom span img {
          display: block;
          margin: 0 auto; }
      .container .main .box-1 .fondos .bottom {
        padding: 0;
        margin-top: 10px; }
      .container .main .box-1 .fondos ul.opciones {
        width: 370px;
        margin: 0 auto; }
        .container .main .box-1 .fondos ul.opciones li {
          display: inline-block;
          border: 3px solid #fff;
          margin-bottom: 5px;
          cursor: pointer;
          width: 166px;
          height: 104px;
          overflow: hidden; }
          .container .main .box-1 .fondos ul.opciones li img {
            display: block;
            width: 100%;
            height: 100%;
            opacity: .3; }
            .container .main .box-1 .fondos ul.opciones li img:hover, .container .main .box-1 .fondos ul.opciones li img.on {
              opacity: 1; }
      .container .main .box-1 .fondos form#pensamiento {
        padding-top: 10px; }
      .container .main .box-1 .fondos .result {
        width: 445px;
        height: 140px;
        background: #fff;
        overflow: hidden;
        margin: 70px auto 0;
        border: 3px solid #fff;
        position: relative; }
        .container .main .box-1 .fondos .result h2 {
          position: absolute;
          width: 100%;
          top: 20px;
          font-size: 35px;
          font-family: "HurmeGeometricSans4-Bold";
          text-shadow: 2px 2px 5px #45340E; }
        .container .main .box-1 .fondos .result img {
          width: 100%; }
      .container .main .box-1 .fondos .firma {
        background: #172bb8;
        width: 445px;
        margin: 0 auto;
        border-top: 1px solid #fff;
        border-right: 3px solid #fff;
        border-bottom: 3px solid #fff;
        border-left: 3px solid #fff; }
      .container .main .box-1 .fondos .share ul {
        padding-top: 50px; }
        .container .main .box-1 .fondos .share ul li {
          display: inline-block;
          vertical-align: middle; }
          .container .main .box-1 .fondos .share ul li.compartir {
            font-size: 1.2em; }
          .container .main .box-1 .fondos .share ul li.fb:hover {
            cursor: pointer; }
    .container .main span.title-3 {
      display: block;
      width: 100%;
      position: absolute;
      top: -100px;
      left: 0; }
    .container .main span.snoopy {
      position: absolute;
      right: 10px;
      bottom: 10px; }
  .container .blue {
    background: url(../images/background-2.jpg) no-repeat center; }

.featherlight .featherlight-content {
  background: rgba(255, 255, 255, 0.8); }
.featherlight .featherlight-close-icon {
  top: 5px;
  right: 5px; }

.lightbox {
  display: none;
  font-family: "HurmeGeometricSans4-Regular"; }
  .lightbox h2 {
    text-align: center;
    font-family: "HurmeGeometricSans4-Bold";
    padding: .5em 0; }
  .lightbox h3 {
    font-family: "HurmeGeometricSans4-Bold";
    padding: .5em 0; }
  .lightbox p {
    padding: .5em 0; }
  .lightbox ol li {
    list-style-type: decimal;
    margin-left: 2em;
    padding: .2em 0; }
  .lightbox ul li {
    margin-left: 2em;
    list-style-type: disc;
    padding: .2em 0; }
