/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
//FONT
@font-face {
  font-family: 'HurmeGeometricSans4-Regular';
  src: url('font/HurmeGeometricSans4-Regular.eot'); /* IE9 Compat Modes */
  src: url('font/HurmeGeometricSans4-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('font/HurmeGeometricSans4-Regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/HurmeGeometricSans4-Regular.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/HurmeGeometricSans4-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HurmeGeometricSans4-Regular.svg#HurmeGeometricSans4-Regular') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'HurmeGeometricSans4-Thin';
  src: url('font/HurmeGeometricSans4-Thin.eot'); /* IE9 Compat Modes */
  src: url('font/HurmeGeometricSans4-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('font/HurmeGeometricSans4-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/HurmeGeometricSans4-Thin.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/HurmeGeometricSans4-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HurmeGeometricSans4-Thin.svg#HurmeGeometricSans4-Thin') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'HurmeGeometricSans4-Bold';
  src: url('font/HurmeGeometricSans4-Bold.eot'); /* IE9 Compat Modes */
  src: url('font/HurmeGeometricSans4-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       //url('font/HurmeGeometricSans4-Thin.woff2') format('woff2'), /* Super Modern Browsers */
       url('font/HurmeGeometricSans4-Bold.woff') format('woff'), /* Pretty Modern Browsers */
       url('font/HurmeGeometricSans4-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('font/HurmeGeometricSans4-Bold.svg#HurmeGeometricSans4-Bold') format('svg'); /* Legacy iOS */
}
//VARIABLES
$regular: 'HurmeGeometricSans4-Regular';
$thin: 'HurmeGeometricSans4-Thin';
$bold: 'HurmeGeometricSans4-Bold';
$blanco: #fff;
//MAIN
.container {
	width: 810px;
	margin: 0 auto;
	background: #f9f9f9;
	text-align: center;
	.main {
		background: url(../images/background.jpg) no-repeat;
		width: 801px;
		height: 800px;
		margin: 0 auto;
		position: relative;
		.box-1 {
			background: url(../images/bg-2.png) no-repeat;
			display: block;
			position: absolute;
			bottom: 120px;
			width: 100%;
			height: 540px;
			#paso-1, #paso-2, #paso-3, #paso-4, #paso-5 {
				display: none;
			}
			.active {
				display: block !important
			}
			.contenido {
				width: 520px;
				height: 460px;
				margin: 0 auto;
				padding: 60px 0 0 0;
				position: relative;
				font-family: $thin;
				color: $blanco;
				span {
					display: block;
					&.title {
						padding: 40px 0;
					}
					&.logo-snoopy {
						padding: 20px 0;
					}
					&.bases {
						position: absolute;
						right: 15px;
						a {
							color: $blanco;
							font-size: .85em;
						}
					}
					&.iniciar {
						position: absolute;
						width: 100%;
						bottom: -140px;
						//cursor: pointer;
						img {
							cursor: pointer;
						}
					}
				}
				h3 {
					color: $blanco;
					padding: .5em 1em;
					font-size: 1.2em;
				}
			}
			.instrucciones {
				text-align: left;
				font-size: 1.1em;
				.top {
					padding: 1em 0;
					span {
						text-align: center;
						img {
							display: block;
							margin: 0 auto;
						}
					}
				}
				h3 {
					text-align: center;
					padding: .2em 0;
				}
				p {
					padding: 1em 3em;
				}
				ul, ol {
					//padding: 1em 2em;
					margin: 0 6em;
					li {
						list-style-type: decimal;
						padding: .3em 0;
					}
				}
				span.iniciar {
					text-align: center;
					font-size: .85em
				}
			}
			.register {
				.top {
					padding: 30px 0 0 0;
					span {
						img {
							display: block;
							margin: 0 auto;
						}
					}
					h3 {
						padding: .2em 0;
					}
				}
				form.cmxform, form#pensamiento {
					width: 100%;
					padding-top: 15px;
					input {
						width: 400px;
						height: 30px;
						padding: 0.5em;
						margin: .3em 0;
						border: 1px dashed #ffc72e;
						border-radius: 3px;
						background: #4e4e69;
						text-align: center;
						font-size: 1.1em;
						color: $blanco;
						font-family: $thin;
						&::-webkit-input-placeholder {
							height: 42px;
							color: $blanco;
						}
						&:-moz-placeholder {
							height: 42px;
							color: $blanco;
						}
						&:focus {
							outline: none;
						}
						&#agree {
							width: initial;
							height: initial;
						}
					}
					ul {
						padding: 10px 0;
						li {
							display: inline-block;
							vertical-align: middle;
							a {
								color: $blanco;
								width: 300px;
								display: block;
							}
						}
					}
					// label.politicas {
					// 	display: block;
					// 	width: 150px;
					// }
					label.error {
						display: none !important;
					}
					input.error {
						border: 1px dashed red;
					}
				}
			}
			.fondos {
				.top, .bottom {
					padding: 15px 0;
					span {
						img {
							display: block;
							margin: 0 auto;
						}
					}
				}
				.bottom {
					padding: 0;
					margin-top: 10px;
				}
				ul.opciones {
					width: 370px;
					margin: 0 auto;
					//padding: 20px 0;
					li {
						display: inline-block;
						border: 3px solid $blanco;
						margin-bottom: 5px;
						cursor: pointer;
						width: 166px;
						height: 104px;
						overflow: hidden;
						img {
							display: block;
							width: 100%;
							height: 100%;
							opacity: .3;
							&:hover, &.on {
								opacity: 1;
							}
						}
					}
				}
				form#pensamiento {
					padding-top: 10px;
				}
				.result {
					width: 445px;
					height: 140px;
					background: $blanco;
					overflow: hidden;
					margin: 70px auto 0;
					border: 3px solid $blanco;
					position: relative;
					h2 {
						position: absolute;
						width: 100%;
						top: 20px;
						font-size: 35px;
						font-family: $bold;
						text-shadow: 2px 2px 5px #45340E;
					}
					img {
						width: 100%;
					}
				}
				.firma {
					background: #172bb8;
					width: 445px;
					margin: 0 auto;
					//border: 3px solid $blanco;
					border-top: 1px solid $blanco;
					border-right: 3px solid $blanco;
					border-bottom: 3px solid $blanco;
					border-left: 3px solid $blanco;
				}
				.share {
					ul {
						padding-top: 50px;
						li {
							display: inline-block;
							vertical-align: middle;
							&.compartir {
								font-size: 1.2em;
							}
							&.fb {
								&:hover {
									cursor: pointer;
								}
							}
						}
					}
				}
			}
		}
		span.title-3 {
			display: block;
			width: 100%;
			position: absolute;
			top: -100px;
			left: 0;
		}
		span.snoopy {
			position: absolute;
			right: 10px;
			bottom: 10px;
		}
	}
	.blue {
		background: url(../images/background-2.jpg) no-repeat center;
	}
}
.featherlight {
	.featherlight-content {
		background: rgba(255,255,255,.8);
	}
	.featherlight-close-icon {
		top: 5px;
		right: 5px;
	}
} 
.lightbox {
	display: none;
	font-family: $regular;
	h2 {
		text-align: center;
		font-family: $bold;
		padding: .5em 0;
	}
	h3 {
		font-family: $bold;
		padding: .5em 0;
	}
	p {
		padding: .5em 0;
	}
	ol {
		li {
			list-style-type: decimal;
			margin-left: 2em;
			padding: .2em 0;
		}
	}
	ul {
		li {
			margin-left: 2em;
			list-style-type: disc;
			padding: .2em 0;
		}
	}
}